[submodule "rmf"]
	path = rmf
	url = https://github.com/open-rmf/rmf.git
[submodule "src/rmf/rmf_battery"]
	path = src/rmf/rmf_battery
	url = https://github.com/open-rmf/rmf_battery.git
[submodule "src/rmf/rmf_internal_msgs"]
	path = src/rmf/rmf_internal_msgs
	url = https://github.com/open-rmf/rmf_internal_msgs.git
[submodule "src/rmf/rmf_ros2"]
	path = src/rmf/rmf_ros2
	url = https://github.com/open-rmf/rmf_ros2.git
[submodule "src/rmf/rmf_task"]
	path = src/rmf/rmf_task
	url = https://github.com/open-rmf/rmf_task.git
[submodule "src/rmf/rmf_traffic"]
	path = src/rmf/rmf_traffic
	url = https://github.com/open-rmf/rmf_traffic.git
[submodule "src/rmf/rmf_utils"]
	path = src/rmf/rmf_utils
	url = https://github.com/open-rmf/rmf_utils.git
[submodule "src/rmf/rmf_cmake_uncrustify"]
	path = src/rmf/rmf_cmake_uncrustify
	url = https://github.com/open-rmf/rmf_cmake_uncrustify.git
